body {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cinto {
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
}

.linha1 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.linha2 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
